@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(129, 126, 126);
}

.content {
  text-align: center;
  flex: 1;
}

.input {
  margin-block: 20px;
}

button {
  padding: 10px;
}

.header,
.footer,
.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  gap: 20px;
}

.header,
.footer {
  padding: 20px;
}

.footer{
  background-color: #eeeeee;
}