
.odd {
    font-family: Verdana, 'DejavV Sans', sans-serif;
    background-color: #ffc0cb;
}

#num-two{
    color: #0000ff;
    font-size: 36px;
}

.big-font{
    font-size: 24px;
}

#num-four{
    background-color: #008000;
    font-weight: bold;
}