body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*******************************/

body {
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 900;
  font-size: 32px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.sidebar {
  padding: 16px;
  flex-shrink: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.body {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  /* align-items: center; */
}

.card {
  display: flex;
  width: 300px;
  padding: 16px;
  /* height: 100px; */
  /* flex: 1 1 auto; */
}

.cards {
  padding: 48px;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center;*/
  align-content: space-evenly;
  gap: 32px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}